// Portfolio item 4 modal popup
#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-dialog-centered
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Triturn - Innoventure
                            //p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                            img.img-fluid.d-block.mx-auto(src='assets/img/Triturn modal.png', alt='...')
                            p One of the hackathons that I participated in, where my team and I achieved finalist places after a year of work. We created a means to reduce the physical strain on nurses when they had to turn over patients to prevent the onset of pressure ulcers. It involves a simple piece of shaped fabric and mechanical equipment that is already present in hospitals.
                            p Unfortunately, we did not have the funding or commitment to bring this project further. Perhaps if we did, we would have made a successful product, seeing as how Handicare USA has took the idea and is selling a very similar product with a similar name, which was launched soon after our hackathon ended. =)
                            //- ul.list-inline
                            //-     li
                            //-         strong Client:
                            //-         | Threads
                            //-     li
                            //-         strong Category:
                            //-         | Illustration
                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Close Project