doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title Benjamin Tse Portfolio

        // Google tag (gtag.js)
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-G341Y3HS6L')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-G341Y3HS6L');
        
        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Simple line icons
        link(href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css', rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        a.menu-toggle.rounded(href='#')
            i.fas.fa-bars
        nav#sidebar-wrapper
            ul.sidebar-nav
                li.sidebar-brand
                    h4 Navigation
                li.sidebar-nav-item
                    a(href='#page-top') Home
                li.sidebar-nav-item
                    a(href='#about') About
                li.sidebar-nav-item
                    a(href='#work') Work
                li.sidebar-nav-item
                    a(href='#portfolio') Projects
                li.sidebar-nav-item
                    a(href='#others') Others
                li.sidebar-nav-item
                    a(href='#contact') Contact

        // Header
        header.masthead.d-flex.align-items-center
            .container.px-4.px-lg-5.text-center
                h1.mb-1 Benjamin Tse
                h3.mb-5
                    em Engineer Maker Innovator
                a.btn.btn-primary.btn-xl(href='#about') More about me

        // About
        section#about.content-section.bg-light
            .container.px-4.px-lg-5
                .row
                    .col-lg-6.px-lg-6
                        img.img-fluid(src='assets/img/mypic.jpg', alt='...')
                    .col-lg-6.px-lg-6.mydiv
                        .row
                            h3 Hi, I am Benjamin. Lightshade is my nickname.  
                            p I aim to develop technologies with a focus on innovation and the development of robotic solutions. I believe that technological advancement will improve our standards of living while reducing the monotonous and dangerous work people do. 
                            p My goal is to be an innovator who can combine design and engineering with business and customer needs to provide solutions that can create a significant impact on people’s lives.
                            p Outside of work, I spend my time making and tinkering on my little projects such as the kinetic drizzle and canard Y4 RC aircraft. I also enjoy learning new skills online which could be useful to me in the future. 
                
                    
        // Work history
        section#work.content-section.bg-primary.text-white.text-center        
            .container.px-4.px-lg-5
                .content-section-heading
                    h2.mb-5 I've worked at...
                .row.gx-4.gx-lg-5
                    .col-lg-4.mb-5.mb-lg-0
                        a(href='https://nus.edu.sg/')
                            img.work-icon.mb-3(src='assets/img/NUS logo.png', alt='...')
                        h4
                            strong NUS | Research Engineer
                        p.text-faded.mb-0 Feb 2023 - Current
                        p I work on some cool sensors and HOPES, a tonometry device that isn't uncomfortable to use. 
                    .col-lg-4.mb-5.mb-lg-0
                        a(href='https://www.avetics.com/')
                            img.work-icon.mb-3(src='assets/img/Avetics logo.jfif', alt='...')
                        h4
                            strong Avetics Global | Mechanical Engineer
                        p.text-faded.mb-0 Mar 2021 - Feb 2023
                        p Did the mechanical design of Vline drone tethers and the Lumicopter. 
                    .col-lg-4.mb-5.mb-lg-0
                        a(href='https://www.flytrex.com/')
                            img.work-icon.mb-3(src='assets/img/Flytrex logo.png', alt='...')
                        h4
                            strong Flytrex | Field Engineer
                        p.text-faded.mb-0 Jan 2019 - July 2019
                        p Had the opportunity to intern at one of the world's leading drone delivery startups and it was truly an eye-opening experience. 
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-4.mb-5.mb-lg-0
                        a(href='https://www.cfb-bots.com/')
                            img.work-icon.mb-3(src='assets/img/cfb bots logo.png', alt='...')
                        h4
                            strong CFB Bots | Associate
                        p.text-faded.mb-0 Jan 2019 - July 2019
                        p During this internship, I did Robotic Process Automation (RPA) scripts to automate client's repetitive work. 
                            
    
        // Projects portfolio
        section#portfolio.content-section
            .container.px-4.px-lg-5
                .content-section-heading.text-center
                    h2.mb-5 My Projects
                .row.gx-0
                    .col-lg-6
                        a.portfolio-item(data-bs-toggle='modal', href='#portfolioModal1')
                            .caption
                                .caption-content
                                    .h2 Kinetic Drizzle
                                    p.mb-0 Imagine a mini kinetic rain on your desktop!
                            img.img-fluid(src='assets/img/Kinetic_Rain.jpg', alt='...')
                    .col-lg-6
                        a.portfolio-item(data-bs-toggle='modal', href='#portfolioModal2')
                            .caption
                                .caption-content
                                    .h2 Canard Y4 VTOL aircraft
                                    p.mb-0 The craziest RC model aircraft that I could think of... and make. 
                            img.img-fluid(src='assets/img/Y4_VTOL.jpg', alt='...')
                    .col-lg-6
                        a.portfolio-item(data-bs-toggle='modal', href='#portfolioModal3')
                            .caption
                                .caption-content
                                    .h2 Canard Rotor Wing
                                    p.mb-0 In my final year in NUS, I built a mock up of an electric canard rotor wing to test its feasibility.
                            img.img-fluid(src='assets/img/CRW.jpg', alt='...')
                    .col-lg-6
                        a.portfolio-item(data-bs-toggle='modal', href='#portfolioModal4')
                            .caption
                                .caption-content
                                    .h2 Triturn - Innoventure
                                    p.mb-0 My friends and I came up with an idea to help nurses with maneuvering paitents. Managed to get to the finals of the hackathon. 
                            img.img-fluid(src='assets/img/Triturn.jpg', alt='...')

 
        // Other things
        section#others.content-section.bg-primary.text-white.text-center        
            .container.px-4.px-lg-5
                .content-section-heading
                    h2.mb-5 Other things about me!
                .row.gx-4.gx-lg-5
                    .col-lg-4.mb-5.mb-lg-0
                        a(href='https://www.facebook.com/repairkopitiam/')
                            img.work-icon.mb-3(src='assets/img/Repair kopitiam.png', alt='...')
                        h4
                            strong Repair Kopitiam Volunteer
                        p.text-faded.mb-0 Aug 2018 - Jan 2020
                        p I learned how to make simple repairs on household items from veterans and taught it to residents. 
                    .col-lg-4.mb-5.mb-lg-0
                        img.work-icon.mb-3(src='assets/img/Model eternal.png', alt='...')
                        h4
                            strong Hobby Model Painter
                        p I enjoy assembling and painting model kits. It takes alot of paitience and trial and error but its worth it in the end.
                    .col-lg-4.mb-5.mb-lg-0
                        a(href='https://www.home-assistant.io/')
                            img.work-icon.mb-3(src='assets/img/1200px-Home_Assistant_Logo.png', alt='...')
                        h4
                            strong Home Assistant
                        p Smart homes can improve efficiency - and I love efficiency. I am using Home Assistant to add some smart ideas to my room. 
   
        
        // Footer
        footer#contact.footer.text-center
            .container.px-4.px-lg-5
                ul.list-inline.mb-5
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white(href='https://www.linkedin.com/in/benjamin-tse-4154b8102')
                            i.icon-social-linkedin 
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white(href='https://github.com/Benjaminlightshade')
                            i.icon-social-github
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white(href='mailto:benjamintql@gmail.com')
                            i.icon-envelope
                p.text-muted.small.mb-0 Copyright &copy; Benjamin Lightshade Tse 2023

        // Scroll to Top Button
        a.scroll-to-top.rounded(href='#page-top')
            i.fas.fa-angle-up

        // Portfolio Modals
        include includes/portfolio-modal-kinetic-drizzle
        include includes/portfolio-modal-CRW
        include includes/portfolio-modal-Canard-Y4VTOL
        include includes/portfolio-modal-triturn


        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')